:root {
    --main-color: #434455;
    --title-color: #2E2F42;   
    --active-color: #404BBF;
    --vari-color: #4D5AE5;
    --border-color: #E7E9FC;
    --white-color: #ffffff;
    --dgr-servise-btn:  #F4F4FD;
 }
 
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--main-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.logotype {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--vari-color);
}

.header-studio-logo {
    color: var(--title-color);
}

.menu-link {
    color: var(--title-color);
    font-weight: 500;
}

.menu-link:hover,
.menu-link:focus {
    color: var(--active-color) ;
}

.email {
    font-style: normal;
    color: var(--main-color);
}

.email:hover,
.email:focus {
    color: var(--active-color);
}

.phone-number {
    font-style: normal;
    color: var(--main-color);
}
.phone-number:hover,
.phone-number:focus {
    color: var(--active-color);
}

.modal-btn {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-color);
    background: var(--vari-color);
    border-radius: 4px;    
    cursor: pointer;  
}

.modal-btn:hover,
.modal-btn:focus {
    background: var(--active-color);
}

.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: var(--white-color);
}

.bgr {
    background: var(--title-color);
}

.definition {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-color);
}

.subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    color: var(--title-color);
}

.service-btn {

    font-weight: 500;
    line-height: 1.5;
    display: flex;
    letter-spacing: 0.04em;
    color: var(--vari-color);
    background: var(--dgr-servise-btn);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
}

.service-btn:hover,
.service-btn:focus {
    color: var(--white-color);
    background: var(--active-color);
}

.footer-studio-logo {
    color: var(--dgr-servise-btn);
}

.text-footer { 
    color: var(--border-color);
}